{% include 'Sitio/header.html' %}
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Bienvenido</h1>
    </div>
    <div class="container">
        <!--contiene la fila-->
        <div class="row">
            <!--contiene el formulario para gregar los libro-->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        Calculo 
                    </div>
                    <div class="card-body">
                        <form action="/index/Calcular" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                              <label for="IntCalorias" class="form-label">Minimo de Calorias:</label>
                              <input type="number" class="form-control" name="IntCalorias" id="IntCalorias" aria-describedby="helpId" placeholder="Escriba Minimo de calorias">
                            </div>
                            <div class="mb-3">
                              <label for="IntPeso" class="form-label">Peso Maximo: </label>
                              <input type="number" class="form-control" name="IntPeso" id="IntPeso" aria-describedby="helpId" placeholder="Escriba Peso maxima">
                            </div>
                            <button type="submit" class="btn btn-primary">Calcular</button>  
                        </form>
                    </div>
                </div>
            </div>
    <div class="p-5 bg-light">
        <div class="container">
            <p>More info</p>
            <p>App Desarrollada por Eider Peña</p>
        </div>
    </div>

{% include 'Sitio/footer.html' %}